.font-size-40px{
  font-size: 40px;
}
.font-size-30px{
  font-size: 30px;
}
.font-size-32px{
  font-size: 32px;
}
.font-size-24px{
  font-size: 24px;
}
.font-size-20px{
  font-size: 20px;
}
.font-size-16px{
  font-size: 16px;
}
.font-size-14px{
  font-size: 14px;
}
.font-size-12px{
  font-size: 12px;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}


